.wallpaper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
  width: 450px;
  margin: 12px;
  cursor: pointer;
  background-color: #191616;
}

.wallpaper__image-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallpaper__image {
  height: 260px;
  width: 450px;
  padding: 6px;
}

.wallpaper__title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  padding: 0 6px 8px 6px;
}
