.box-auth__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-auth {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #252628;
  border: 1px solid #242939;
  padding: 15px 10px;
  gap: 10px;
}
